In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df =sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df.time.unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder =LabelEncoder()
df["time"]=encoder.fit_transform(df["time"])

In [5]:
df

     total_bill   tip     sex smoker   day  time  size
0         16.99  1.01  Female     No   Sun     0     2
1         10.34  1.66    Male     No   Sun     0     3
2         21.01  3.50    Male     No   Sun     0     3
3         23.68  3.31    Male     No   Sun     0     2
4         24.59  3.61  Female     No   Sun     0     4
..          ...   ...     ...    ...   ...   ...   ...
239       29.03  5.92    Male     No   Sat     0     3
240       27.18  2.00  Female    Yes   Sat     0     2
241       22.67  2.00    Male    Yes   Sat     0     2
242       17.82  1.75    Male     No   Sat     0     2
243       18.78  3.00  Female     No  Thur     0     2

[244 rows x 7 columns]

In [6]:
df.time.unique()

array([0, 1])

seprate independat & dependant variable

In [7]:
X =df.drop("time",axis=1)
y =df["time"]

In [8]:
X

     total_bill   tip     sex smoker   day  size
0         16.99  1.01  Female     No   Sun     2
1         10.34  1.66    Male     No   Sun     3
2         21.01  3.50    Male     No   Sun     3
3         23.68  3.31    Male     No   Sun     2
4         24.59  3.61  Female     No   Sun     4
..          ...   ...     ...    ...   ...   ...
239       29.03  5.92    Male     No   Sat     3
240       27.18  2.00  Female    Yes   Sat     2
241       22.67  2.00    Male    Yes   Sat     2
242       17.82  1.75    Male     No   Sat     2
243       18.78  3.00  Female     No  Thur     2

[244 rows x 6 columns]

In [9]:
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int32

Train Test Split

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.3,random_state=42)

In [11]:
X_train

     total_bill   tip     sex smoker  day  size
234       15.53  3.00    Male    Yes  Sat     2
227       20.45  3.00    Male     No  Sat     4
180       34.65  3.68    Male    Yes  Sun     4
5         25.29  4.71    Male     No  Sun     4
56        38.01  3.00    Male    Yes  Sat     4
..          ...   ...     ...    ...  ...   ...
106       20.49  4.06    Male    Yes  Sat     2
14        14.83  3.02  Female     No  Sun     2
92         5.75  1.00  Female    Yes  Fri     2
179       34.63  3.55    Male    Yes  Sun     2
102       44.30  2.50  Female    Yes  Sat     3

[170 rows x 6 columns]

In [12]:
X_test

     total_bill   tip     sex smoker   day  size
24        19.82  3.18    Male     No   Sat     2
6          8.77  2.00    Male     No   Sun     2
153       24.55  2.00    Male     No   Sun     4
211       25.89  5.16    Male    Yes   Sat     4
198       13.00  2.00  Female    Yes  Thur     2
..          ...   ...     ...    ...   ...   ...
165       24.52  3.48    Male     No   Sun     3
154       19.77  2.00    Male     No   Sun     4
216       28.15  3.00    Male    Yes   Sat     5
79        17.29  2.71    Male     No  Thur     2
29        19.65  3.00  Female     No   Sat     2

[74 rows x 6 columns]

In [13]:
#handling missing values
#data encoding
#feature scaling

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

#pipeline>> a sequence of data transformation
#Column transformer>> groups all the pipeline steps for each of the columns

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [14]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time             int32
size             int64
dtype: object

Seprate cat columns & num columns

In [15]:
# cat_columns =[i for i in df.columns if df[i].dtypes =="category"]
cat_columns =['sex', 'smoker', 'day']

In [16]:
# num_columns =[i for i in df.columns if df[i].dtypes !="category"]
num_columns =['total_bill', 'tip', 'size']

In [17]:
#feature engineering automation using pipeline and column transformer

num_pipeline =Pipeline([("imputation",SimpleImputer(strategy="median")),("StandardScaler",StandardScaler())])

cat_pipline =Pipeline([("imputation",SimpleImputer(strategy="most_frequent")),("encoding",OneHotEncoder())])

In [18]:
preprocessor =ColumnTransformer([("numPipeline",num_pipeline,num_columns),("ColumnsPipeline",cat_pipline ,cat_columns)])

In [19]:
preprocessor

ColumnTransformer(transformers=[('numPipeline',
                                 Pipeline(steps=[('imputation',
                                                  SimpleImputer(strategy='median')),
                                                 ('StandardScaler',
                                                  StandardScaler())]),
                                 ['total_bill', 'tip', 'size']),
                                ('ColumnsPipeline',
                                 Pipeline(steps=[('imputation',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('encoding',
                                                  OneHotEncoder())]),
                                 ['sex', 'smoker', 'day'])])

In [20]:
X_train =preprocessor.fit_transform(X_train)
X_test =preprocessor.transform(X_test)

In [21]:
X_train

array([[-0.52806763, -0.06086095, -0.62551827, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.01509878, -0.06086095,  1.52272629, ...,  1.        ,
         0.        ,  0.        ],
       [ 1.58277419,  0.4044516 ,  1.52272629, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.60777647, -1.42942727, -0.62551827, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.58056619,  0.31549479, -0.62551827, ...,  0.        ,
         1.        ,  0.        ],
       [ 2.64813107, -0.40300253,  0.44860401, ...,  1.        ,
         0.        ,  0.        ]])

In [22]:
y_train

234    0
227    0
180    0
5      0
56     0
      ..
106    0
14     0
92     0
179    0
102    0
Name: time, Length: 170, dtype: int32

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

models ={"log regression":LogisticRegression(),
        "dt_tree":DecisionTreeClassifier(),
        "SVM":SVC()}

In [24]:
from sklearn.metrics import accuracy_score
def model_train_evaluation(X_train ,X_test, y_train ,y_test ,models):
    evaluation ={}
    for i in range(len(models)):
        model =list(models.values())[i]
        model.fit(X_train ,y_train)
        y_pred =model.predict(X_test)
        model_score =accuracy_score(y_test ,y_pred)
        evaluation[list(models.keys())[i]] =model_score
    return evaluation

In [25]:
model_train_evaluation(X_train ,X_test ,y_train ,y_test ,models)

{'log regression': 0.9864864864864865,
 'dt_tree': 0.9459459459459459,
 'SVM': 0.972972972972973}